<launch>
<!-- Launch file for ouster OS0-128 LiDAR -->

    <rosparam command="load" file="$(find fast_lio)/config/nce_ouster128.yaml" />

    <arg name="dont_load_params" value="true" /> <!-- loaded above already... -->
    <arg name="prepare_for_parameter_estimation" default="false" />
    <arg name="store_compensated" value="$(arg prepare_for_parameter_estimation)" />

    <arg name="num_filter_points" default="4"/>
    <arg name="size_surf" default="0.5"/>
    <arg name="size_map" default="0.5"/>
    <arg name="gm_threshold" default="0.5"/>
    <arg name="requires_os_shift" default="true"/>

    <param name="common/comp_lid_topic" type="string" value="/os_cloud_node/points" if="$(arg prepare_for_parameter_estimation)" />

    <arg name="use_channel" default="1"/>
    <arg name="model" default="weighted_dasig_poly"/>
    <!--arg name="params" default='{"type": "weighted_dasig_poly", "w_dist": 0.898667, "w_angle": -0.602007, "w_sigmoid": 4.89747, "w_sigmoid_q": 4.9239, "v_0": 0.32537, "v_1": 0.485697, "v_2": 0.59017, "u_0": 0.270083, "u_1": 0.229198, "u_2": 0.210117, "num_rings": 128}'/--> <!-- math med 50s, normals ordered -->
    <!--<arg name="params" default='{"type": "reflectivity weighted_dasig_poly", "w_dist": 0.0587125, "w_sigmoid": 6, "w_sigmoid_q": 4.52733, "w_angle": -0.286864, "v_0": 0.333252, "v_1": 1.52472, "v_2": 0.354852, "num_rings": 128}'/--> <!-- math med 50s, normals ordered -->
    <!--arg name="params" default='{"type": "reflectivity weighted_dasig_poly", "w_dist": 0, "w_sigmoid": 4, "w_sigmoid_q": 4, "w_angle": -0.5, "v_0": 0.3, "v_1": 0.5, "v_2": 1, "num_rings": 128}'/-->
    <!--arg name="params" default='{"type": "reflectivity weighted_dasig_poly", "w_dist": 0, "w_sigmoid": 0, "w_sigmoid_q": 0, "w_angle": 0, "v_0": 0., "v_1": 0., "v_2": 0., "num_rings": 128}'/-->
    <arg name="params" default='{"type": "reflectivity weighted_dasig_poly", "w_dist": 0.044991, "w_sigmoid": 6, "w_sigmoid_q": 3.87035, "w_angle": -0.326376, "v_0": 1.021, "v_1": 0.438674, "v_2": 0.449664, "num_rings": 128}'/>

    <arg name="grad_w" default="0.0" if="$(arg prepare_for_parameter_estimation)" />
    <arg name="grad_w" default="0.1" unless="$(arg prepare_for_parameter_estimation)" />
    <param name="ref_grad_w" type="double" value="$(arg grad_w)" />
    <param name="filter_size_surf" type="double" value="$(arg size_surf)" />
    <param name="filter_size_map" type="double" value="$(arg size_map)" />
    <param name="point_filter_num" type="int" value="$(arg num_filter_points)"/>
    <param name="filter_use_channel" type="int" value="$(arg use_channel)"/>
    <param name="comp_model" type="string" value="$(arg model)"/>
    <param name="comp_params" type="string" value="$(arg params)"/>
    <param name="requires_os_shift" type="bool" value="$(arg requires_os_shift)"/>
    <param name="w_filter_size" type="int" value="2"/>
    <param name="h_filter_size" type="int" value="2"/>
    <param name="gm_threshold" type="double" value="$(arg gm_threshold)"/>

    <include file="$(find fast_lio)/launch/nce_ouster_128_eval.launch">
        <arg name="dont_load_params" value="$(arg dont_load_params)"/>
        <arg name="prepare_for_parameter_estimation" value="$(arg prepare_for_parameter_estimation)"/>
        <arg name="store_compensated" value="$(arg store_compensated)"/>
    </include>
</launch>
