<launch>
<!-- Launch file for ouster OS0-128 LiDAR -->

    <include file="$(find fast_lio)/launch/nce_ouster_128_eval.launch"/>
    
	  <arg name="data_set" default="nc_math/" />
    <arg name="data_path" value="/home/jhorn/Documents/Uni/MasterThesis/data/" />
    <arg name="folder" value="$(arg data_path)/$(arg data_set)/" />
    
    <arg name="grad_w" default="0.0" />
    <param name="ref_grad_w" type="double" value="$(arg grad_w)"/>
    <arg name="out_bag" value="$(arg folder)/path_w$(arg grad_w).bag" />
    <node pkg="rosbag" type="record" name="record_traj" args="/Odometry -O $(arg out_bag)" />
    
    <arg name="bag_path" value="$(arg folder)/raw_data.bag"/>
    <arg name="bag_args" value="--clock --start=5 --delay=2 --rate=0.5"/>
    <node pkg="rosbag" type="play" name="player" output="screen" args="$(arg bag_args) $(arg bag_path)"/>

</launch>
